<div class="tabs-inner" [hidden]="!showTabs">
    <ion-router-outlet #outlet tabs="true" (stackEvents)="onTabSelected($event)"></ion-router-outlet>
</div>
<ion-tab-bar [selectedTab]="currentPage" [hidden]="!showTabs">
    <ion-spinner *ngIf="!loaded"></ion-spinner>

    <ion-tab-button (ionTabButtonClick)="tabClicked($event, tab.page)" [hidden]="!loaded && tab.hide" *ngFor="let tab of tabs" [tab]="tab.page" [disabled]="tab.hide" layout="label-hide"  class="{{tab.class}}">
        <core-icon [name]="tab.icon"></core-icon>
        <ion-label>{{ tab.title | translate }}</ion-label>
        <ion-badge *ngIf="tab.badge">{{ tab.badge }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button (ionTabButtonClick)="tabClicked($event, 'more')" [hidden]="!loaded" tab="more" layout="label-hide">
        <core-icon name="fa-bars"></core-icon>
        <ion-label>{{ 'core.more' | translate }}</ion-label>
    </ion-tab-button>
</ion-tab-bar>
<div class="core-network-message" [hidden]="!showTabs">
    <div class="core-online-message">
        {{ "core.youreonline" | translate }}
    </div>
    <div class="core-offline-message">
        {{ "core.youreoffline" | translate }}
    </div>
</div>
