<ion-card>
    <!-- TODO item-dimmed if course.hidden? -->

    <div *ngIf="isUsingGridLayout" (click)="openCourse()" class="course-card--image" [style]="imageInlineStyles">
        <ion-icon *ngIf="!course.courseImage" name="fas-graduation-cap" aria-hidden="true">
        </ion-icon>
    </div>

    <!-- TODO show both buttons if necessary -->
    <div *ngIf="showDownload || courseOptionMenuEnabled" class="course-card--actions">
        <core-download-refresh *ngIf="showDownload" [status]="prefetchCourseData.status" [enabled]="showDownload"
            [statusTranslatable]="prefetchCourseData.statusTranslatable" [canTrustDownload]="false" [loading]="prefetchCourseData.loading"
            (action)="prefetchCourse()">
        </core-download-refresh>

        <div *ngIf="courseOptionMenuEnabled" class="core-button-spinner">
            <!-- Options menu. -->
            <ion-button *ngIf="!showSpinner" fill="clear" (click)="showCourseOptionsMenu($event)"
                [attr.aria-label]="('core.displayoptions' | translate)">
                <ion-icon name="ellipsis-vertical" slot="icon-only" aria-hidden="true"></ion-icon>
            </ion-button>

            <!-- Loading options course spinner. -->
            <ion-spinner *ngIf="showSpinner" [attr.aria-label]="'core.loading' | translate"></ion-spinner>
        </div>
    </div>

    <!-- TODO [class.item-disabled]="course.visible == 0" -->
    <ion-item class="ion-text-wrap" button detail="false" (click)="openCourse()" [attr.aria-label]="course.displayname || course.fullname">
        <ion-label>
            <div class="course-card--content">
                <div *ngIf="isUsingListLayout" class="course-card--image" [style]="imageInlineStyles">
                    <ion-icon *ngIf="!course.courseImage" name="fas-graduation-cap" aria-hidden="true">
                    </ion-icon>
                </div>
                <div class="core-card--text">
                    <p *ngIf="course.displayname && course.shortname && course.fullname != course.displayname"
                        class="course-card--course-shortname">
                        <core-format-text [text]="course.shortname" contextLevel="course" [contextInstanceId]="course.id">
                        </core-format-text>
                    </p>
                    <p class="course-card--course-fullname">
                        <ion-icon *ngIf="course.isfavourite" name="fas-star" [attr.aria-label]="'core.courses.favourite' | translate">
                        </ion-icon>
                        <span *ngIf="course.isfavourite" class="sr-only">{{ 'core.courses.aria:favourite' | translate }}</span>
                        <span class="sr-only">{{ 'core.courses.aria:coursename' | translate }}</span>
                        <core-format-text [text]="course.fullname" contextLevel="course" [contextInstanceId]="course.id">
                        </core-format-text>
                        <!-- TODO why only in list layout? -->
                        <span *ngIf="isUsingListLayout && !isEnrolled">
                            <ion-icon *ngFor="let icon of enrolmentIcons" color="medium" [name]="icon.icon" [title]="icon.label | translate"
                                [attr.aria-label]="icon.label | translate">
                            </ion-icon>
                        </span>
                        <ion-icon *ngIf="prefetchCourseData.downloadSucceeded || justDownloaded" name="fam-cloud-done" color="success"
                            role="status" [attr.aria-label]="'core.downloaded' | translate">
                        </ion-icon>
                    </p>
                    <ion-chip *ngIf="course.categoryname" color="primary" class="course-card--course-category">
                        <span class="sr-only">{{ 'core.courses.aria:coursecategory' | translate }}</span>
                        <ion-label>
                            <core-format-text [text]="course.categoryname" contextLevel="coursecat" [contextInstanceId]="course.categoryid">
                            </core-format-text>
                        </ion-label>
                    </ion-chip>
                </div>
            </div>

            <div *ngIf="isEnrolled && progress >= 0 && completionUserTracked !== false" class="core-course-progress">
                <core-progress-bar [progress]="progress" a11yText="core.courses.aria:courseprogress"></core-progress-bar>
            </div>
        </ion-label>
    </ion-item>

</ion-card>
