@import "~theme/globals";

:host {
    --horizontal-padding: var(--spacing-4);
    --actions-size: 28px; // TODO review a11y, see --a11y-min-target-size
    --actions-gap: var(--spacing-2);
    --progress-bar-height: 18px;
    --progress-bar-line-height: 8px;

    &.layout-grid {
        --vertical-padding: var(--spacing-4);
        --progress-bar-margin-top: var(--spacing-4);
        --image-height: 120px;

        .course-card--image {
            height: var(--image-height);
        }

    }

    &.layout-list {
        --vertical-padding: var(--spacing-3);
        --progress-bar-margin-top: var(--spacing-2);
        --image-size: 48px;

        .course-card--image {
            width: var(--image-size);
            height: var(--image-size);
            margin-inline-start: 0;
            margin-inline-end: var(--spacing-2);
            border-radius: 6px;
            align-self: center;
        }

    }

    ion-card {

        .course-card--actions {
            position: absolute;
            @include position(var(--vertical-padding), var(--horizontal-padding), null, null);
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 2;

            > *:not(:first-child) {
                // TODO LTR?
                margin-inline-start: var(--actions-gap);
            }

            core-download-refresh {
                width: var(--actions-size);
                height: var(--actions-size);
                min-height: var(--actions-size);
                min-width: var(--actions-size);
            }

            ion-button {
                width: var(--actions-size);
                height: var(--actions-size);
                min-height: var(--actions-size);
                min-width: var(--actions-size);
                margin: 0;

                &::part(native) {
                    padding: 0;
                }

            }

        }

        .course-card--image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        & > ion-item {

            &::part(native) {
                padding-inline-start: var(--horizontal-padding);

                // TODO can't style padding-inline-end because it comes from item-inner :(
            }

            & > ion-label {
                margin: 0;
                padding: var(--vertical-padding) 0;
            }

            .course-card--content {
                display: flex;
                flex-direction: row;

                .course-card--course-fullname,
                .course-card--course-category {
                    margin-top: var(--spacing-2);
                }

                .course-card--course-shortname {
                    @include typography('subtitle', 2);
                }

                .course-card--course-fullname {
                    @include typography('subtitle', 1);

                    ion-icon,
                    core-format-text {
                        display: inline-block;
                        margin-inline-end: var(--spacing-2);
                    }

                }

                .course-card--course-category {
                    @include typography('label', 1);
                    margin-right: 0;
                    margin-left: 0;
                }

            }

            core-progress-bar {
                --height: var(--progress-bar-line-height);
                --line-height: var(--progress-bar-height);
                --bar-margin: auto var(--spacing-1) auto 0;
                --text-width: auto;
                margin-top: var(--progress-bar-margin-top);
            }

        }

    }

}
