:host {
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
    color: white;

    .user-tour-focus, .user-tour-focus-shadow {
        position: absolute;
    }

    .user-tour-focus-shadow {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18);
    }

    .user-tour-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .user-tour-wrapper {
        position: absolute;
    }

    &.is-active {
        display: block;
    }

    &.is-popover {

        .user-tour-focus {
            box-shadow: 0 0 0 9999px #222428;
            opacity: .25;
        }

        .user-tour-overlay {
            background: #222428;
            opacity: .25;
        }

        .user-tour-wrapper {
            color: black;
            background: white;
            width: 70vw;
            padding: 16px;
            border-radius: 8px;

            .user-tour-wrapper-arrow {
                position: absolute;
                border-style: solid;
                border-color: transparent;
            }

        }

    }

    &:not(.is-popover) {

        .user-tour-focus {
            box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75);
        }

        .user-tour-overlay {
            background: rgba(0, 0, 0, 0.75);
        }

        .user-tour-wrapper {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

}
