html {

    // TODO auto-generate from figma?
    // TODO ignore parentehsis, type first, then slugged path

    // Colors
    --mdl-color-neutral-gray-200: #e9ecef;
    --mdl-color-neutral-gray-300: #dee2e6;
    --mdl-color-neutral-gray-400: #ced4da;
    --mdl-color-neutral-gray-700: #495057;
    --mdl-color-neutral-gray-800: #343a40;
    --mdl-color-neutral-gray-900: #1d2125;
    --mdl-color-secondary: #1272f9;
    --mdl-color-states-overlay-gray-hover: rgba(29, 33, 37, 0.04);
    --mdl-color-states-overlay-gray-focus: rgba(29, 33, 37, 0.12);
    --mdl-color-states-overlay-gray-pressed: rgba(29, 33, 37, 0.12); // TODO Same as focus?

    // Corner radiuses
    --mdl-cornerRadius-xs: 4px;

    // Typography
    --mdl-typography-h5-fontFamily: 'Roboto'; // fallbacks?
    --mdl-typography-h5-fontStyle: normal;
    --mdl-typography-h5-fontWeight: 700;
    --mdl-typography-h5-fontSize: 16px;
    --mdl-typography-h5-lineHeight: 20px;
    --mdl-typography-h5-letterSpacing: 0.0012em;

    --mdl-typography-bodySmall-fontFamily: 'Roboto';
    --mdl-typography-bodySmall-fontStyle: normal;
    --mdl-typography-bodySmall-fontWeight: 400;
    --mdl-typography-bodySmall-fontSize: 14px;
    --mdl-typography-bodySmall-lineHeight: 150%;
    --mdl-typography-bodySmall-letterSpacing: 0.0012em;

    // Spacing
    @for $i from 0 to 13 {
        --mdl-spacing-#{$i}: #{$i*4}px;
    }

    // Semantic colors
    --mdl-color-background: var(--mdl-color-neutral-gray-300);
    --mdl-color-text-header: var(--mdl-color-neutral-gray-900);
    --mdl-color-text-body: var(--mdl-color-neutral-gray-700);
    --mdl-color-text-secondary: var(--mdl-color-neutral-gray-800);

}

html.dark {

    // Semantic colors
    --mdl-color-background: var(--mdl-color-neutral-gray-700);
    --mdl-color-text-header: var(--mdl-color-neutral-gray-200);
    --mdl-color-text-body: var(--mdl-color-neutral-gray-400);
    --mdl-color-text-secondary: var(--mdl-color-neutral-gray-300);

}
